/**
 * A file that declares colors as CSS variables for easy use
 */
:root {
  --brand-color: #8f0d56;

  --outline-color: #993404;
  --light-shadow-color: rgba(0, 0, 0, 0.25);
  --link-blue: #006cdd;
}
