/**
 * CSS for DisplayPlants
 */
.display-plants {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
}


a.display-plant {
  display: block;
  background-color: var(--white);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.display-plant:hover,
.display-plant:focus {
  background-color: var(--mid-grey);
}

.display-plant p {
  color: var(--text-color-main);
}
.display-plant .plant-title {
  text-decoration: underline;
}
