/* Import stateface for state icons */
@import "stateface/stateface.css";

/* Import colors first for use in other files */
@import "colors.css";

/* Import page specific styles */
@import "about.css";
@import "faq.css";
@import "index.css";
@import "social-card.css";
@import "state-details.css";
@import "take-action.css";
@import "power-plant-details.css";

/** Component styles */
@import "display-plants.css";

/* Import stateface for state icons */
@import "stateface/stateface.css";

/** Import Lato Google font with specific weights */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

body,
* {
  font-family: "Lato", sans-serif;
  /* Make sure anchors (like the skip to main) account for sticky header */
  scroll-margin-top: 5rem;
}

body *:focus {
  outline: dashed 0.25rem var(--outline-color);
}

.btn {
  text-decoration: none;
}

.btn:focus {
  outline: dashed 0.25rem var(--outline-color);
}

body {
  background-color: #fffffb;
  font-family: "Source Serif Pro", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-color-main);
}

/* Make links blue and underlined by default for clarity */
a {
  color: var(--link-blue);
  text-decoration: underline;
}

/* Make link underline thicken on hover or focus */
a:hover,
a:focus {
  text-decoration-thickness: 0.125em;
}

/* Darken new tab icons on hover if not white */
a:hover .new-tab-icon:not(.-white) {
  filter: brightness(0.8);
}

.new-tab-icon {
  width: 1em;
  position: relative;
  top: -0.3em;
}

.back-icon {
  display: inline-block;
  width: 1rem;
  vertical-align: 0.1em;
  margin-right: 0.5em;
  line-height: 0;
}

.back-icon img {
  width: 100%;
}
.back-icon img.-white {
  display: none;
}

/* On the link hover, flip to the white icon */
a:hover .back-icon img.-white {
  display: inline;
}
a:hover .back-icon img:not(.-white) {
  display: none;
}

/* Bold all heading elements by default */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  border-bottom: solid 0.25rem var(--outline-color);
}

/* Add some spacing to <h2> elements by default for text pages */
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2 {
  margin-top: 1.75rem;
}
h3 {
  margin-top: 1.55rem;
}

/* Make <strong> actually use bold (by default it's a medium weight) */
strong {
  font-weight: bold;
}

.link-icon {
  width: 1rem;
  aspect-ratio: 1;
  margin-bottom: 0.5rem;
}

/* Fix Bootstrap caption color WCAG contrast violation */
caption {
  color: #687076;
}

/* Fix Bootstrap button success WCAG contrast violation */
.btn-success {
  background-color: #198727;
  border-color: transparent;
}
.btn-success:focus,
.btn-success:hover {
  background-color: #157021;
}

/**
 * Extra large spacing options
 */
.mt-6 {
  margin-top: 4rem;
}
.mb-6 {
  margin-bottom: 4rem;
}
.mt-7 {
  margin-top: 6rem;
}
.mb-7 {
  margin-bottom: 6rem;
}
.mt-8 {
  margin-top: 8rem;
}
.mb-8 {
  margin-bottom: 8rem;
}

/**
 * Allow use of 900 level font weight
 */
.font-weight-boldest {
  font-weight: 900;
}

.page-item.active .page-link {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.float-right {
  text-align: right;
}

.recharts-cartesian-axis-tick {
  font-size: 0.8rem;
}

.state {
  /* must go before choropleth classes */
  fill: #aaa;
  stroke: #fff;
  outline: none;
  cursor: pointer;
}

.choropleth0 {
  fill: #fed98e;
  background: #fed98e;
}

.choropleth1 {
  fill: #fe9929;
  background: #fe9929;
}

.choropleth2 {
  fill: #d95f0e;
  background: #d95f0e;
}

.choropleth3 {
  fill: #993404;
  background: #993404;
}

.choroplethNull {
  fill: #aaa;
  background: #aaa;
}

/**
 * NOTE: Make sure to update StateEmissionsMap.showTooltip if this is changed,
 * since the tooltip height and width are hard-coded there
 */
.map-tooltip {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  /* Disable mouse events to prevent hovering tooltip hiding it */
  pointer-events: none;
}

.map-tooltip .arrow {
  left: 48%;
}

.map-tooltip .arrow::before {
  border-top-color: rgba(0, 0, 0, 0.8);
}

.map-tooltip .tooltip-inner {
  width: 180px;
  background-color: rgba(0, 0, 0, 0.8);
}

/**
 * Style focused <path> elements with border and darkening
 */
path:focus,
.mapSelected {
  stroke: #421b49;
  stroke-width: 3;
  outline: none;
  filter: brightness(0.75);
}

.legendKey {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.keyColor {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.keyText {
  font-size: 14px;
  display: inline-block;
}

.table-controls > label {
  width: 100%; /* label contstrains searchbar width */
}

#frames {
  fill: none;
  stroke: grey;
}

.sunrise-green {
  color: #19975c;
}

/** Style the header */
.sunrise-nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #aaaaaa;
  z-index: 100;
}

.nav-link {
  text-decoration: none;
}

/** Style header title */
.nav-text {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: #000000;
  /* Make sure we always have room for mobile menu */
  max-width: calc(100% - 80px);
}

.skip-link:focus {
  position: absolute;
  padding: 0.5rem 1rem;
  top: 0;
}

#responsive-navbar-nav > div > a {
  color: rgba(0, 0, 0, 0.7);
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: none;
}

.table td,
.table th {
  border-top: 1px solid #dee2e6;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem 0;
}

footer a {
  color: #004da1;
}

.custom-tooltip {
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 1px 2px #bdbdbd;
}

.state-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
}

/* Darken buttons a touch for state links */
.state-links .btn-light {
  background-color: #eff0f1;
}

/**
 * Styling for the sticky graph container
 */
.sticky-cont {
  position: sticky;
  z-index: 5;
  top: 30%;
  align-self: start;
  padding-left: 0;
  margin-top: 7rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  background-color: #fff;
}

/**
 * SingleBarChart styling
 */
.single-bar-chart text {
  font-size: 0.9rem;
  font-weight: bold;
  fill: #181818;
}

/** Animate graph color changes and hover filter */
.single-bar-chart .recharts-rectangle {
  transition: fill 0.4s, filter 0.3s;
}

/** Make clear state details bar chart is clickable */
.single-bar-chart.-state .recharts-rectangle {
  cursor: pointer;
}

.single-bar-chart.-state .recharts-rectangle:hover {
  filter: brightness(0.9);
  outline: solid 0.125rem rgb(0 0 0 / 50%);
  outline-offset: -0.125rem;
}

@media (max-width: 991px) {
  .single-bar-chart tspan {
    font-size: 0.8rem;
  }
}

/**
 * Both 404 and 500 error page styling
 */
.error-page {
  display: flex;
  align-self: center;
}

.error-page img {
  margin: auto;
}

.error-page div {
  text-align: center;
  max-width: max-content;
  flex: 1;
}

.error-page div p {
  font-size: medium;
  font-weight: 700;
}

.error-page div h1 {
  font-size: 50px;
  font-weight: bolder;
  line-height: 90px;
}

.form-container {
  display: table;
  height: 810px;
}

.data-modal-body {
  max-height: 40vh;
}

/**
 * Spritesheet styling
 */
.appliance-sheet,
.building-sheet,
.vehicles-sheet {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  padding: 0;

  /* For testing */
  /*  outline: dashed 2px grey;*/
}

/** 3X2 sheet */
.appliance-sheet {
  background-image: url("../images/appliances-sheet.png");
  background-size: auto 200%;
  height: 20rem;
}

.appliance-sheet.-boiler {
  aspect-ratio: 1/3;
  background-position: -1.5% 103%;
}

.appliance-sheet.-boiler.-clean {
  background-position: -1.5% -2%;
}

.appliance-sheet.-stove {
  background-position: 43.5% 102%;
  aspect-ratio: 1/2;
}

.appliance-sheet.-stove.-clean {
  background-position: 43.5% -2%;
}

.appliance-sheet.-heater {
  background-position: 100% 102%;
  aspect-ratio: 1/1.5;
}

.appliance-sheet.-heater.-clean {
  background-position: 102% 18%;
}

/** 3X2 sheet */
.building-sheet {
  background-image: url("../images/buildings-sheet.png");
  background-size: auto 200%;
}

.building-sheet.-house {
  aspect-ratio: 1.5;
  background-size: 350%;
  background-position: -3% 102%;
}

.building-sheet.-house.-clean {
  background-position: -3% 20%;
}

.building-sheet.-apartments {
  aspect-ratio: 1/0.8;
  background-position: 102% 104%;
}

.building-sheet.-apartments.-clean {
  background-position: 102% -8%;
}

/** 2X4 sheet */
.vehicles-sheet {
  background-image: url("../images/vehicles-sheet.png");
  background-size: 250% auto;
}

.vehicles-sheet.-car {
  aspect-ratio: 1/0.4;
  background-position: 5% 11%;
}

.vehicles-sheet.-car.-clean {
  background-position: 95% 10%;
}

.vehicles-sheet.-truck {
  background-position: 6% 25%;
  aspect-ratio: 1/0.5;
}

.vehicles-sheet.-truck.-clean {
  background-position: 95% 25%;
}

.vehicles-sheet.-semi {
  aspect-ratio: 1/0.28;
  background-position: 6% 45.5%;
}

.vehicles-sheet.-semi.-clean {
  background-position: 93% 45%;
}

.vehicles-sheet.-ebike {
  aspect-ratio: 1;
  background-position: 70% 58.5%;
  background-size: 490% auto;
}

.vehicles-sheet.-e-streetcar {
  background-position: 94.5% 75%;
  aspect-ratio: 2;
}

.terminology-page-style dt {
  font-size: 1.3rem;
  margin-top: 15px;
}

.terminology-icon {
  display: inline-block;
}

.terminology-icon img {
  width: 1rem;
  height: 1rem;
}

/** already electrified chart mobile **/
@media (max-width: 575px) {
  .already-electrified-chart text {
    font-size: 0.8rem;
  }
}

.already-electrified-chart text {
  font-size: 0.9rem;
}
