/* Import stateface for state icons */
@import 'stateface/stateface.css';
@import 'index.css';

/** Import Lato Google font with specific weights */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
    --brand-color: #8F0D56;
}

body, * {
    font-family: 'Lato', sans-serif;
}

body *:focus {
    outline: dashed 0.25rem #993404;
}

body {
    background-color: #FFFFFB;
    font-family: "Source Serif Pro",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #33342e;
}

/**
 * Extra large spacing options
 */
.mt-6 { margin-top: 4rem; }
.mb-6 { margin-bottom: 4rem; }
.mt-7 { margin-top: 6rem; }
.mb-7 { margin-bottom: 6rem; }
.mt-8 { margin-top: 8rem; }
.mb-8 { margin-bottom: 8rem; }

/**
 * Allow use of 900 level font weight
 */
.font-weight-boldest { font-weight: 900; }

.page-item.active .page-link {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.float-right { text-align: right; }

.recharts-cartesian-axis-tick {
    font-size: 0.8rem;
}

.state { /* must go before choropleth classes */
  fill: #aaa;
  stroke: #fff;
  outline: none;
  cursor: pointer;
}

.choropleth0 {
    fill: #fed98e;
    background: #fed98e;
}

.choropleth1 {
    fill: #fe9929;
    background: #fe9929;
}

.choropleth2 {
    fill: #d95f0e;
    background: #d95f0e;
}

.choropleth3 {
    fill: #993404;
    background: #993404;
}

.choroplethNull {
    fill: #aaa;
    background: #aaa;
}

.map-tooltip {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    /* Disable mouse events to prevent hovering tooltip hiding it */
    pointer-events: none;
}

.map-tooltip .arrow { left:  48%; }

.map-tooltip .tooltip-inner { width: 150px; }


/**
 * Style focused <path> elements with border and darkening
 */
path:focus, .mapSelected {
    stroke: #421B49;
    stroke-width: 3;
    outline: none;
    filter:  brightness(0.75);
}

.legendKey {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.keyColor {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.keyText {
    font-size: 14px;
    display: inline-block;
}

.table-controls > label {
    width: 100%; /* label contstrains searchbar width */
}

#frames {
    fill: none;
    stroke: grey;
}

.sunrise-green {
    color: #19975c;
}

/** Style the header */
.sunrise-nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #aaaaaa;
    z-index: 100;
}


/** Style header title */
.nav-text {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
    /* Make sure we always have room for mobile menu */
    max-width: calc(100% - 80px);
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: none;
}

.table td, .table th {
    border-top: 1px solid #dee2e6;
}

footer { text-align: center; }

.custom-tooltip {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 1px 2px #bdbdbd;
}

.action-panel {
    padding: 2rem;
    margin:  5rem 0;
    background-color: #f3f3f3;
}

.state-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;
}

/* Darken buttons a touch for state links */
.state-links .btn-light { background-color: #eff0f1; }

/**
 * Styling for the sticky graph container
 */
.sticky-cont {
    position: sticky;
    z-index: 5;
    top: 30%;
    align-self: start;
    padding-left: 0;
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    background-color: #fff;
}

/**
 * SimpleAreaChart styling
 */
.simplearea-cont {
    height: auto !important;
    aspect-ratio: 2/1;
}

.simplearea-cont tspan { font-weight: bold; }

/* Mobile styling Make graph taller aspect ratio on mobile screens and shrink labels */
@media (max-width: 575px) {
    .simplearea-cont { aspect-ratio: 1.5/1; }

    .simplearea-cont tspan { font-size:12px; }
}

/**
 * SingleBarChart styling
 */
.single-bar-chart text {
    font-size: 0.9rem;
    font-weight: bold;
    fill: #181818;
}

/** Animate graph color changes */
.single-bar-chart .recharts-rectangle {
    transition: fill 0.4s;
}

@media (max-width: 991px) {
    .single-bar-chart tspan { font-size: 0.8rem; }
}

.sticky-header {
    position: sticky;
    top: 55px; /* align with site header */
    background-color: #fff;
    z-index: 10;
    border-bottom: solid 1px gainsboro;
    /* Ick, I know. Blame Bootstrap for negative margins */
    margin-left: -15px;
    margin-right: -15px;
    padding: 0.5rem 1rem;
}

/**
 * State Details Page - full desktop sticky graph layout
 */
@media (min-width: 1200px) {
    .sticky-header h1 .title { font-size: 2rem !important; }

    /* On desktop, don't apply margin to row elements, since they don't
       on the big screen layout anything */
    .state-details-main .row { margin-top: 0 !important; }

    /** Add transparent border to all sections so we can animate it in without
     * shifting content */
    .state-details-main .scrollable-sect {
        padding: 2rem 0 2rem 2rem;
        border-left: solid transparent 0.5rem;
        transition: border-color 0.4s;
    }

    /*
     * Style the active section.
     *
     * NOTE: The last section never gets the .is-current class for some reason, so use the
     * sibling selector to make sure it is faded in after the previous one is
     * scrolled-past
     */
    .state-details-main .scrollable-sect.is-current,
    .state-details-main div#power-end.scrolled-past + div {
        border-color: #ff5722;
    }

     { opacity: 1 !important; }
}

/**
 * Both 404 and 500 error page styling
 */
.error-page {
    display: flex;
    align-self: center;
}

.error-page img {
    margin: auto;
}

.error-page div {
    text-align: center;
    max-width:max-content;
    flex: 1;
}

.error-page div p {
    font-size: medium;
    font-weight: 700;
}

.error-page div h1 {
    font-size: 50px;
    font-weight: bolder;
    line-height: 90px;
}