/* Import stateface for state icons */
@import 'stateface/stateface.css';

/** Import Lato Google font with specific weights */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
    --brand-color: #8F0D56;
}

body, * {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFFFFB;
    font-family: "Source Serif Pro",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #33342e;
}

/**
 * Extra large spacing options
 */
.mt-6 { margin-top: 4rem; }
.mb-6 { margin-bottom: 4rem; }
.mt-7 { margin-top: 6rem; }
.mb-7 { margin-bottom: 6rem; }
.mt-8 { margin-top: 8rem; }
.mb-8 { margin-bottom: 8rem; }

/**
 * Allow use of 900 level font weight
 */
.font-weight-boldest { font-weight: 900; }

.main-header {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.page-item.active .page-link {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.float-right {
    text-align: right;
}

.recharts-cartesian-axis-tick {
    font-size: 0.8rem;
}

.state { /* must go before choropleth classes */
  fill: #aaa;
  stroke: white;
  outline: none;
  cursor: pointer;
}

.choropleth0 {
    fill: #fed98e;
    background: #fed98e;
}

.choropleth1 {
    fill: #fe9929;
    background: #fe9929;
}

.choropleth2 {
    fill: #d95f0e;
    background: #d95f0e;
}

.choropleth3 {
    fill: #993404;
    background: #993404;
}

.choroplethNull {
    fill: #aaa;
    background: #aaa;
}

/* Style focused <path> elements or selected state */
path:focus, .mapSelected {
    stroke: #421B49;
    stroke-width: 4;
}

.legendKey {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.keyColor {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.keyText {
    font-size: 14px;
    display: inline-block;
}

.table-controls > label {
    width: 100%; /* label contstrains searchbar width */
}

#frames {
  fill: none;
  stroke: grey;
}

.sunrise-green {
    color: #19975c;
}

.sunrise-nav {
    border-bottom: 1px solid #aaaaaa;
}

.nav-text {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: none;
}

.table td, .table th {
    border-top: 1px solid #dee2e6;
}

footer {
    text-align: center;
}

.custom-tooltip {
    background-color: white;
    padding: 5px;
    box-shadow: 0 1px 2px #bdbdbd;
}

.action-panel {
    padding: 2rem;
    margin:  3rem 0;
    background-color: #f3f3f3;
}


/**
 * Styling for the sticky graph container
 */
.sticky-cont {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-self: start;
    margin-top: 7rem;
    top: 30%;
}

/**
 * SingleBarChart styling
 */
.single-bar-chart text {
    font-size: 0.9rem;
    font-weight: bold;
    fill: #181818;
}
