/* Import stateface for state icons */
@import 'stateface/stateface.css';

/** Import Lato Google font with specific weights */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
    --brand-color: #8F0D56;
}

body, * {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFFFFB;
    font-family: "Source Serif Pro",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #33342e;
}

/**
 * Extra large spacing options
 */
.mt-6 { margin-top: 4rem; }
.mb-6 { margin-bottom: 4rem; }
.mt-7 { margin-top: 6rem; }
.mb-7 { margin-bottom: 6rem; }
.mt-8 { margin-top: 8rem; }
.mb-8 { margin-bottom: 8rem; }

/**
 * Allow use of 900 level font weight
 */
.font-weight-boldest { font-weight: 900; }

/**
 * Homepage main header styling
 */
.main-header {
    margin: 10rem 0;
}

@media (max-width: 575px) {
    .main-header { margin: 5rem 0; }
    .main-header h1 { font-size: 2rem !important; }
    .main-header .h3 { font-size: 1.25rem !important; }
}

.page-item.active .page-link {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.float-right {
    text-align: right;
}

.recharts-cartesian-axis-tick {
    font-size: 0.8rem;
}

.state { /* must go before choropleth classes */
  fill: #aaa;
  stroke: white;
  outline: none;
  cursor: pointer;
}

.choropleth0 {
    fill: #fed98e;
    background: #fed98e;
}

.choropleth1 {
    fill: #fe9929;
    background: #fe9929;
}

.choropleth2 {
    fill: #d95f0e;
    background: #d95f0e;
}

.choropleth3 {
    fill: #993404;
    background: #993404;
}

.choroplethNull {
    fill: #aaa;
    background: #aaa;
}

/* Style focused <path> elements or selected state */
path:focus, .mapSelected {
    stroke: #421B49;
    stroke-width: 4;
}

.legendKey {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.keyColor {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.keyText {
    font-size: 14px;
    display: inline-block;
}

.table-controls > label {
    width: 100%; /* label contstrains searchbar width */
}

#frames {
    fill: none;
    stroke: grey;
}

.sunrise-green {
    color: #19975c;
}

.sunrise-nav {
    border-bottom: 1px solid #aaaaaa;
}


/** Style header title */
.nav-text {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
    /* Make sure we always have room for mobile menu */
    max-width: calc(100% - 80px);
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: none;
}

.table td, .table th {
    border-top: 1px solid #dee2e6;
}

footer {
    text-align: center;
}

.custom-tooltip {
    background-color: white;
    padding: 5px;
    box-shadow: 0 1px 2px #bdbdbd;
}

.action-panel {
    padding: 2rem;
    margin:  5rem 0;
    background-color: #f3f3f3;
}

@media (max-width: 575px) {
    .electrication-cont .h1 { font-size: 1.5rem; }
    .electrication-cont .h3 { font-size: 1rem; }
}

/**
 * Styling for the sticky graph container
 */
.sticky-cont {
    position: sticky;
    z-index: 100;
    top: 30%;
    align-self: start;
    padding-left: 0;
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    background-color: white;
}

/**
 * SimpleAreaChart styling
 */
.simplearea-cont {
    height: auto !important;
    aspect-ratio: 2/1;
}

.simplearea-cont tspan { font-weight: bold; }

/* Mobile styling Make graph taller aspect ratio on mobile screens and shrink labels */
@media (max-width: 575px) {
    .simplearea-cont { aspect-ratio: 1.5/1; }

    .simplearea-cont tspan { font-size:12px; }
}

/**
 * SingleBarChart styling
 */
.single-bar-chart text {
    font-size: 0.9rem;
    font-weight: bold;
    fill: #181818;
}

/** Animate graph color changes */
.single-bar-chart .recharts-rectangle {
    transition: fill 0.4s;
}

@media (max-width: 991px) {
    .single-bar-chart tspan { font-size: 0.8rem; }
}

/**
 * ChoroplethMap Styling
 */

/** Mobile - move leged below the map */
@media (max-width: 991px) {
    .map-row { flex-direction: column-reverse; }

    .map-row .map-legend { max-width: 25rem; }
}

/**
 * State Details Page - full desktop sticky graph layout
 */
@media (min-width: 1200px) {
    /* On desktop, don't apply margin to row elements, since they don't
       on the big screen layout anything */
    .state-details-main .row { margin-top: 0 !important; }

    /** Add transparent border to all sections so we can animate it in without
     * shifting content */
    .state-details-main .scrollable-sect {
        padding: 2rem 0 2rem 2rem;
        border-left: solid transparent 0.5rem;
        transition: border-color 0.4s;
    }

    /*
     * Style the active section.
     *
     * NOTE: The last section never gets the .is-current class for some reason, so use the
     * sibling selector to make sure it is faded in after the previous one is
     * scrolled-past
     */
    .state-details-main .scrollable-sect.is-current,
    .state-details-main div#power-end.scrolled-past + div {
        border-color: #ff5722;
    }

     { opacity: 1 !important; }
}