/**
 * State Details page styling - imported globally, make sure to scope selectors!
 *
 * ⚠️ Warning: This styling is ultimately applied to the global scope! Use specific
 * classes to make sure it only applies to the right page.
 */

.state-graph-section {
  margin: auto;
}

/**
 * Emissions graph styling
 */
.state-graph-section .simplearea-cont {
  height: 18.75rem !important;
  width: 50rem !important;
  max-width: 100%;
  margin: auto;
}

.state-graph-section .simplearea-cont tspan {
  font-weight: bold;
}

/* Mobile styling Make graph taller aspect ratio on mobile screens and shrink labels */
@media (max-width: 575px) {
  .state-graph-section .simplearea-cont {
    aspect-ratio: 1.5/1;
    /** Crude but lets us go full width */
    margin-left: -1rem;
    height: auto !important;
    width: 95vw !important;
    max-width: none;
  }

  .state-graph-section .simplearea-cont tspan {
    font-size: 0.75rem;
  }

  .state-graph-section .table-btn-cont {
    text-align: center;
  }
}

.sticky-header {
  position: sticky;
  top: 55px; /* align with site header */
  background-color: #fff;
  z-index: 10;
  border-bottom: solid 1px gainsboro;
  /* Ick, I know. Blame Bootstrap for negative margins */
  margin-left: -15px;
  margin-right: -15px;
  padding: 0.5rem 1rem;
}

/** Make sure focusing links works with both sticky headers */
.state-details-main * {
  scroll-margin-top: 15rem;
}

/**
 * Set consistent paragraph styles to keep text size uniform unless a paragraph
 * specifically should be bigger or smaller
 */
.state-details-main p:not(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-size: 1.75rem;
}

/** Add padding between bulleted list items */
.state-details-main li + li {
  margin-top: 1em;
}

/**
 * Styling for the power sources chart - make sure to QA with various states
 * since the labels are quite long and can end up on the left hand side of the
 * graph
 */
.state-details-main .power-sources-chart {
  width: 30rem;
  max-width: 100%;
  aspect-ratio: 2 / 1;
}

.state-details-main .power-sources-chart text {
  font-size: 0.9rem;
  fill: var(--text-color-main);
}

.state-details-main .power-sources-chart path {
  stroke-width: 0.125rem;
}

.state-details-main .power-sources-chart path[name="Wind"] {
  fill: #5d9732;
}
.state-details-main .power-sources-chart path[name="Solar"] {
  fill: #ffc702;
}
.state-details-main .power-sources-chart path[name="Hydropower"] {
  fill: #7944d6;
}
.state-details-main .power-sources-chart path[name="Natural Gas"] {
  fill: #189bd7;
}
.state-details-main .power-sources-chart path[name="Coal"] {
  fill: #333333;
}
.state-details-main .power-sources-chart path[name="Petroleum"] {
  fill: #bd732a;
}
.state-details-main .power-sources-chart path[name="Nuclear"] {
  fill: #a33340;
}

/**
 * Mobile/tablet styling - shrink some text
 */
@media (max-width: 1199px) {
  /* Shrink .h1 text */
  .h1 {
    font-size: 1.75rem;
  }

  /* Cut power pie chart text size */
  .state-details-main .power-sources-chart text {
    font-size: 0.7rem;
  }
}

/**
 * Desktop Styling - full desktop sticky graph layout
 */
@media (min-width: 1200px) {
  .sticky-header h1 .title {
    font-size: 2rem !important;
  }

  /* On desktop, don't apply margin to row elements, since they don't
       on the big screen layout anything */
  .state-details-main .row {
    margin-top: 0 !important;
  }

  /** Add transparent border to all sections so we can animate it in without
     * shifting content */
  .state-details-main .scrollable-sect {
    padding: 2rem 0 2rem 2rem;
    border-left: solid transparent 0.5rem;
    transition: border-color 0.4s;
  }

  /*
     * Style the active section.
     *
     * NOTE: The last section never gets the .is-current class for some reason, so use the
     * sibling selector to make sure it is faded in after the previous one is
     * scrolled-past
     */
  .state-details-main .scrollable-sect.is-current,
  .state-details-main div#power-end.scrolled-past + div {
    border-color: #ff5722;
  }
}
